/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전체 페이지의 기본 설정 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 페이지 전체 스크롤을 방지 */
}

/* 최상위 부모 요소에 대한 설정 */
#root { /* 또는 <div id="root">로 적용되는 최상위 요소 */
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 스크롤을 숨깁니다 */
}